@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.87);
	background-color: #1a1a1a;
	font-family: 'MedievalSharp', cursive;
	font-weight: 400;
	font-style: normal;
	--p-color-1: rgb(215, 162, 55);
	--p-color-2: #341e15;
	/*rgba(218, 194, 102, 0.8);*/
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h3 {
	margin: 10px 0;
	color: var(--p-color-1);
}

.hidden {
	display: none !important;
}
