#app {
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	gap: 0;
}

#gameCanvas {
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: #130f0a;
	width: 100%;
	height: 100%;
	display: block;
}

.top-bar {
	width: 100%;
	padding: 2vh;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding-left: 20px;
	padding-right: 20px;
}
.top-bar > * {
	filter: drop-shadow(0 0 8px rgba(176, 154, 111, 0.6));
}

.top-bar::before {
	content: '';
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 165%;
	background-size: auto 100%;
	background-image: url('../assets/fest.png');
	background-repeat: repeat-x;
	z-index: -1;
	filter: grayscale(50%) drop-shadow(0 0 10px #00000072);
}

.left-section {
	display: flex;
	align-items: center;
	gap: 15px;
}

.top-controls {
	display: flex;
	gap: 20px;
}
